@import "config";


//
//  Test Styles
//

@include _prefix(component, 'filmreel') {
    @include aspect-ratio(540, 200);
    @include filmreel(31, 2.5s);
    
    background: {
        image:              url('../assets/img/midir.jpg'); }
    
    @include responsive-modifier(small) {
        color: purple;
    }
}

@include scope-index;

